.cover__background {
  height: 740px;
  max-width: 1184px;
  background-image: url(../images/visitanos_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 48px 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f; /* Color de overlay */
  opacity: 0.3;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.cover__background:hover::before,
.cover__button:hover + .cover__background::before {
  opacity: 0.8;
}

.cover__title {
  color: #fffdfd;
  text-align: center;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px; /* 105.556% */
  margin: 243px auto 0;
  position: relative;
  z-index: 1;
}

.cover__paragraph {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  width: 280px;
  margin: 32px auto 32px;
  position: relative;
  z-index: 1;
}

.cover__button {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  background-color: #0278fe;
  border: none;
  min-height: 48px;
  min-width: 198px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  z-index: 1;
  -webkit-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.cover__button-link {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-decoration: none;
}

.cover__button:hover {
  background-color: #0063d2;
}

/* Media queries para 768px  */

@media (min-width: 321px) and (max-width: 768px) {
  .cover__background {
    height: 746px;
    max-width: 768px;
  }
}

/* Media queries para 320px  */

@media (max-width: 320px) {
  .cover__background {
    height: 254px;
    max-width: 320px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 46px 16px 0;
  }

  .cover__paragraph {
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 16px;
  }
}
