.places {
  max-width: 1017px;
  margin: 80px auto 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 80px;
}

.places__place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 40px auto 40px auto;
  grid-template-areas:
    "title website "
    "image paragraph"
    "button paragraph";
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 40px;
}

.places__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-family: "Inter", Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: title;
  -ms-grid-column-span: website;
  grid-column-end: website;
}

.places__website {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: website;
  -ms-grid-row-align: end;
  align-self: end;
}

.places__url-heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.places__artist {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.places__image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  max-width: 460px;
  grid-area: image;
  margin-right: auto;
}

.places__paragraphs {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: paragraph;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 25px;
}

.places__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.places__button {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: button;
  border-radius: 4px;
  background-color: #0278fe;
  color: #fff;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  max-width: 355px;
  min-width: 288px;
  height: 48px;
  padding: 13px 10px;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.places__button:hover {
  background-color: #0063d2;
}

/* Media queries para 768px  */

@media (min-width: 321px) and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 92px;
    row-gap: 25px;
  }

  .places__place {
    gap: 28px;
  }

  .places__image {
    max-width: 340px;
  }

  .places__title {
    font-size: 42px;
    line-height: 46px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}

/* Media queries para 320px  */

@media (max-width: 320px) {
  .places {
    row-gap: 50px;
  }
  .places__place {
    gap: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 0 auto 0 auto 0 auto 0 auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "button";
  }

  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0px 16px 30px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .places__website {
    margin: 0px 16px 30px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .places__image {
    max-width: 320px;
  }

  .places__paragraph {
    margin: 0px 16px;
  }

  .places__button {
    font-size: 14px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 6 auto 0;
  }

  .places__image {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .places__paragraphs {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .places__button {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
}
